.profile-card__picture{
  margin: 16px;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 5px solid #3E5948;
  border-radius: 100%;
}

.profile-card__data{
  margin: 16px 0;
}

.profile-card__title{
  font-size: 10px;
  text-transform: uppercase;
  margin: 2px 0;
}

.profile-card__text{
  font-size: 18px;
}

