.background{
  background-image: url("C://Studia/inzynierka/role-playing-game-manager/client/public/images/background.png");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  animation: moving-background 1000s linear infinite;
}

.button.button-top-right{
  position: absolute;
  right: 80px;
  top: 54px;
  border-radius: 0;
  background-color: #546e5a;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.button.button-top-right:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.central-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes moving-background{
  0% { background-position: 0 0;}
  25% { background-position: 100% 25%;}
  50% { background-position: 50% 100%;}
  75% { background-position: 50% 75%;}
  100% { background-position: 0 0;}
}


/* GAMES PAGE */

.games{
  background-color: #EFE3D7;
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.games__header{
  position: relative;
  height: 108px;
  background-color: #3E5948;
}

.games__nav_background{
  position: absolute;
  top: 108px;
  height: 64px;
  width: 100%;
  background-color: #4C6C58;
  z-index: -1;;
}

.games__content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1080px;
  min-height: 100%;
}

.games__nav{
  display: flex;
  justify-content: center;
}

.games__nav{
  height: 64px;
}