.page{
  background-color: #EFE3D7;
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.page__header{
  position: relative;
  height: 108px;
  background-color: #3E5948;
}

.page__nav_background{
  display: flex;
  position: absolute;
  top: 108px;
  height: 64px;
  width: 100%;
  background-color: #4C6C58;
  z-index: -1;;
}

.page__content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vw;
  min-height: 100%;
}

.page__center-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}