.register-form__form{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.register-form__form .button{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.login-form__google-button{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}