.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20%;
  transform: translateX(-50%);
  border-top: 1px solid white;
  background-color: aqua;
}

.footer-container a{
  width: 15%;
  color: white;
  margin: 8px 16px
}