.text-area{
  display: flex;
  flex-direction: column;
  margin: 8px 0 8px 2px;
  font-size: 12px;
  font-weight: 700;
  width: 100%;
}

.text-area__input{
  font-size: 18px;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: none;
  resize: vertical;

}