.nav-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 64px;
  /* color: #FFFF; */
  cursor: pointer;
}

.active{
  background-color: #93a69a;
}

.nav-item__name{
  font-size: 18px;
  text-transform: capitalize;
  margin-left: 8px;
}