.button{
  background-color: #6D8B74;
  color: white;
  font-weight: 700;
  text-align: center;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.button:hover{
  background-color: #546e5a;
}

/* LOGIN & REGISTER PAGE */
.login__button-top-right{
  position: absolute;
  right: 80px;
  top: 54px;
  padding: 4px 16px;
}

.login__button-top-right:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

/* LOGIN FORM & REGISTER FORM */
.login-form__button, .register-form__button{
  width: 140px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  transition: 0.5s;
}

/* CHARACTER CARD FORM */
.character-form__button{
  font-size: 20px;
  width: auto;
  height: auto;
  padding: 8px 24px;
  margin: 32px;
  transition: 0.3s;
}

.character-form__button:hover{
  background-color: #6D8B74;
  box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.2);
  transform: translateY(-2%);
}

.character-form__button:disabled{
  background-color: #cccccc;
  color: #666666;
  box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.2);
  transform: none;
}

/* STATISTICS FORM */
.statistics-form__button{
  font-size: 12px;
  padding: 4px 12px;
  margin: 16px 0 10px 0;
  font-weight: 400;
  transition: 0.3s;
}

.statistics-form__button:disabled{
  background-color: #cccccc;
  color: #666666;
}

/* SPOTIFY LOGIN */
.spotify-login__button{
  background-color: #1db954;
  color: #FFFF;
  width: 260px;
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 15px;
}

.spotify-login__button:hover{
  background-color: #191414;
}

/* FAVOURITE SONG */
.favourite-song__button{
  height: 32px;
  margin: 16px 0 16px 8px;
}