.navbar{
  position:relative;
  left: 420px;
  display: flex;
  justify-content: start;
  width: 1080px;
  height: 64px;
  flex-direction: row;
}

.navbar__link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 64px;
  color: #FFFF;
  cursor: pointer;
  text-decoration: none;
}