.navbar{
  position:relative;
  display: flex;
  justify-content: center;
  width: 55vw;
  height: 64px;
  flex-direction: row;
}

.navbar__link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 64px;
  color: #FFFF;
  cursor: pointer;
  text-decoration: none;
}